.label {
    font-size: 1.2rem;
   font-weight: 700; 
}

.input {
    margin-top: 1rem;
    margin-right: 0.5rem;
    background-color: #040D12;
    color: #93B1A6;
    border: 1px solid #93B1A6 ;
    padding: 0.5rem 1rem;
    border-radius: 5px;

}


.btn {
    background-color: #5C8374;
    color: #040D12;
    border: none;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.15s;
}

.btn:hover {
    opacity: 0.8;
}

.search-wrapper {
    padding: 2rem 0;
}

.form {
    padding: 1rem 0;
}